/******************************************************************
  Defaults
******************************************************************/

body {
	background: #DEDEDE;
	font-family:Arial,Helvetica,sans-serif;
	margin:0pt;
	padding:0pt;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'Lucida Grande','Trebuchet MS',Arial,Helvetica,sans-serif;
}

a {
	color:#2244CC;
}

#flash {
	width: 70%;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	font-size: 0.85em;
}

#flash .notice {
	background: #b4eeb4;
	padding: 10px;
	border: 2px solid green;
}

#site_name {
	text-decoration: none;
	color: black;
}

/******************************************************************
  #Header control - includes font, style, layout, color, etc
******************************************************************/

#header {
	padding:10px 4%;
	border-bottom: 2px solid black;
	background: white;
}

#header ul#nav {
	float:right;
	list-style-type:none;
	margin:0.4em 2.5em 0 0;
}

#header ul#nav li {
	font-family:'Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
	font-size:0.75em;
	display: inline;
	padding: 0 .5em;
}

#header h1 {
	padding: 0;
	margin: 0 1.15em;
	font-size: 1.3em;
}

/******************************************************************
  #Container and #Main color and layout control
******************************************************************/

#container {
	margin: 15px 50px;
	padding: 20px;

}

#main {
	float: left;
	width: 700px;
	margin: 0;
	padding: 20px;
	background: white;
	border-bottom: 3px solid grey;
}

#main h2 {
	margin: 0;
	padding: 0;
	font-size: 1.3em;
}

/******************************************************************
  Meta info layout/styling
******************************************************************/

#right {
	float: right;
	width: 200px;
	margin: 0 50px;
}

#right h5 {
	padding: .2em;
	margin: 0;
}

ul.meta_info {
	font-size: .75em;
	margin: 0;
	padding: .2em;
	list-style-type:none;
}

ul.meta_info li {
	padding: 0.4em 0;
	margin: 0;
}

/******************************************************************
  New/Edit page form layouts
******************************************************************/

.edit_page textarea {
	width: 90%;
}

.textile-toolbar {
	width: 90%;
}


a.new_wiki_link {
	color: red;
}

a.small_link {
	font-size: 0.7em;
	display: inline;
}

#users a {
	display: inline;
}
