Comparing 
<span style="background-color: #cfc; padding: 1px 4px;">version <%= @v2.version %></span> 
and
<span style="background-color: #ddd; padding: 1px 4px;">version <%= @v2.version %></span>
<pre class="diff">
<%= @diff %>
</pre>